body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
    font-family: 'SF Pro Display', sans-serif;
    font-size: 28px;
}

body::-webkit-scrollbar {
    display: none;
}

.stack {
    display: grid;
}

.layer {
    grid-column: 1;
    grid-row: 1;
}

.center {
    display: flex;
    justify-content: center;
}

.content {
    max-width: 1200px;
    width: 100vw;
}

#nameplate {
    width: 100vw;
    height: 100vh;
    z-index: 1;
}

#nameplate .content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#nameplate .content h1 {
    font-size: 288px;
    font-weight: 900;
    margin: 0;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
    background-size: 100%;
    background-image: linear-gradient(60deg, #FF9900, #FFCF54);
}

h3 {
    font-size: 40px;
    font-weight: bold;
}

#nameplate .content h3 {
    color: #775EB5;
    margin: 0;
}

.border {
    width: 100%;
    display: block;
}

#about {
    width: 100vw;
    height: 100vh;
    background-color: #4A4063;
    color: #FFFFFF;
}

#about-content {
    max-width: 1200px;
    /* width: 100vw; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 0px 50px
}

#headshot {
    border-style: solid;
    border-color: #8170AE;
    border-radius: 100%;
    border-width: 25px;
}

#about-text {
    flex-shrink: 2;
    max-width: 550px;
}

#about-content h3 {
    margin-top: 20px;
    margin-bottom: 20px;
}

p {
    font-weight: 500;
    margin-top: 15px;
    margin-bottom: 15px;
}

#cornell {
    color: #EF4035;
}

#breakfree {
    color: #F95656;
}

#strike {
    text-decoration: line-through;
}

#coffee {
    color: #DCB090;
}