body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
    font-family: 'SF Pro Display', sans-serif;
    font-size: 20px;
}

body::-webkit-scrollbar {
    display: none;
}

nav {
    position: sticky;
    top: 0;
    padding: 0.7em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0px 7px 6px rgba(00, 00, 00, 25%);
    backdrop-filter: blur(3px);
    z-index: 2;
    color: #FF9900;
    display: none;
}

nav h4 {
    margin: 0;
}

nav div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 1em;
}

.stack {
    display: grid;
}

.layer {
    grid-column: 1;
    grid-row: 1;
}

.center {
    display: flex;
    justify-content: center;
}

.content {
    max-width: 1200px;
    width: 100vw;
}

#nameplate {
    width: 100vw;
    height: 100vh;
    z-index: 1;
}

#nameplate .content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#nameplate .content h1 {
    font-size: 210px;
    font-weight: 900;
    margin: 0;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
    background-size: 100%;
    background-image: linear-gradient(60deg, #FF9900, #FFCF54);
}

h3 {
    font-size: 38px;
    font-weight: bold;
}

#nameplate .content h3 {
    color: #775EB5;
    margin: 0;
}

.border {
    width: 100%;
    display: block;
}

#about {
    width: 100vw;
    min-height: 100vh;
    background-color: #4A4063;
    color: #FFFFFF;
}

#about-content {
    max-width: 1000px;
    /* width: 100vw; */
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    align-items: center;
    gap: 0px 50px;
}

#headshot {
    border-style: solid;
    border-color: #8170AE;
    border-radius: 100%;
    border-width: 25px;
    width: 40%;
}

/* #about-text {
    flex-shrink: 2;
    max-width: 550px;
} */

h4 {
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 20px;
}

p {
    font-weight: 500;
    margin-top: 15px;
    margin-bottom: 15px;
}

#cornell {
    color: #EF4035;
}

#breakfree {
    color: #F95656;
}

#strike {
    text-decoration: line-through;
}

#coffee {
    color: #DCB090;
}

#projects {
    color: #775EB5;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 70px;
    margin-bottom: 70px;
}

.project {
    width: 1000px;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    align-items: center;
    gap: 0px 50px;
}

.project img {
    width: 45%;
}

#project-desc {
    width: 50%;
}

.tags {
    color: #FF9900;
    font-size: 20px;
    font-weight: 500;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px 15px;
}

.tags span {
    font-size: 16px;
    margin: 0;
    background-color: #FFEEC2;
    border-style: solid;
    border-color: #FFEEC2;
    border-width: 5px 10px;
    border-radius: 30px;
}

footer {
    background-color: #FFEEC2;
    padding: 30px;
    color: #FF9900;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
}